@import "../../styles/base.scss";

.wpo-case-area-mod {
  background: #f7fbfe;

  @media (max-width: 1200px) {
    padding-bottom: 90px;
  }

  .progress-section-mod {
    padding-top: 35px;

    .progress-mod {
      height: 5px !important;
      overflow: unset !important;

      .progress-bar-mod {
        border-radius: 15px;
        box-shadow: none;
        position: relative;
        animation: animate-positive 4s;
        width: 65%;
        background: $primary;
        height: 5px;
      }

      //TODO: why is this kept different
      .progress-bar-mod {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #f26522;
        transition: width 0.6s ease;
      }

      .progress-value-mod {
        width: 53px;
        height: 30px;
        background-color: $primary;
        text-align: center;
        line-height: 22px;
        border: 1px solid $primary;
        left: 90%;
        position: relative;
        color: #000;
        opacity: 0.75;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
        top: -30px;
        line-height: 20px;

        &:before {
          content: "";
          border-color: $primary transparent transparent transparent;
          border-style: solid;
          border-width: 5px;
          width: 0;
          height: 0;
          position: absolute;
          bottom: -10px;
          left: 50%;
          margin-left: -5px;
        }
      }
    }
  }

  .wpo-case-item-mod {
    box-shadow: 0px 5px 9.8px 0.2px rgba(85, 85, 85, 0.07);

    .wpo-case-content-mod {
      .wpo-case-text-top-mod {
        padding: 30px;
        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          li {
            font-size: 14px;
            span {
              font-weight: 700;
            }
          }
        }
      }
      ul {
        list-style: none;
      }

      h2 {
        font-size: 22px;
        line-height: 35px;
        margin-top: 0;
        font-weight: 600;

        @media (max-width: 1200px) {
          font-size: 20px;
        }
      }

      .case-btn-mod {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: 100%;

            &:last-child a {
              background-image: linear-gradient(to right, #00a7d5, #27cdca);
              color: #fff;
            }
            a {
              display: block;
              text-align: center;
              width: 100%;
              height: 50px;
              line-height: 50px;
              border-top: 1px solid #eeeeee;
              color: #333333;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .wpo-case-single-mod {
    padding: 0 5px;

    .wpo-case-item-mod {
      margin-bottom: 30px;

      .wpo-case-img-mod {
        img {
          width: 100%;
        }
      }
    }
  }
}

// .wpo-case-area {
//   background: #f7fbfe;
// }

// .progress-section {
//   padding-top: 35px;
// }

// .progress {
//   height: 5px!important;
//   overflow: unset!important;
// }

// .progress .progress-bar {
//   border-radius: 15px;
//   box-shadow: none;
//   position: relative;
//   animation: animate-positive 4s;
//   width: 65%;
//   background: var(--primary);
//   height: 5px;
// }

// .progress-bar {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -ms-flex-pack: center;
//   justify-content: center;
//   color: #fff;
//   text-align: center;
//   white-space: nowrap;
//   background-color: #f26522;
//   transition: width 0.6s ease;
// }

// .progress .progress-value {
//   width: 53px;
//   height: 30px;
//   background-color: var(--primary);
//   text-align: center;
//   line-height: 22px;
//   border: 1px solid var(--primary);
//   left: 90%;
//   position: relative;
//   color: #000;
//   opacity: 0.75;
//   font-weight: bold;
//   font-size: 12px;
//   text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
//   top: -30px;
//   line-height: 20px;
// }

// .progress .progress-value:before {
//   content: "";
//   border-color: var(--primary) transparent transparent transparent;
//   border-style: solid;
//   border-width: 5px;
//   width: 0;
//   height: 0;
//   position: absolute;
//   bottom: -10px;
//   left: 50%;
//   margin-left: -5px;
// }

// .wpo-case-content h2 {
//   font-size: 22px;
//   line-height: 35px;
//   margin-top: 0;
//   font-weight: 600;
// }

// .wpo-case-item {
//   box-shadow: 0px 5px 9.8px 0.2px rgba(85, 85, 85, 0.07);
// }

// .wpo-case-text-top {
//   padding: 30px;
// }

// .wpo-case-content ul {
//   list-style: none;
// }

// .wpo-case-text-top ul {
//   list-style: none;
//   display: flex;
//   justify-content: space-between;
// }

// .wpo-case-text-top ul li {
//   font-size: 14px;
// }

// .wpo-case-text-top ul li span {
//   font-weight: 700;
// }

// .case-btn ul {
//   display: flex;
//   justify-content: space-between;
// }

// .case-btn ul li {
//   width: 100%;
// }

// .case-btn ul li a {
//   display: block;
//   text-align: center;
//   width: 100%;
//   height: 50px;
//   line-height: 50px;
//   border-top: 1px solid #eeeeee;
//   color: #333333;
//   font-weight: 500;
// }

// .case-btn ul li:last-child a {
//   background-image: linear-gradient(to right, #00a7d5, #27cdca);
//   color: #fff;
// }

// .wpo-case-img img {
//   width: 100%;
// }

// .wpo-case-item {
//   margin-bottom: 30px;
// }

// @media (max-width: 1200px) {
//   .wpo-case-area {
//     padding-bottom: 90px;
//   }

//   .wpo-case-content h2 {
//     font-size: 20px;
//   }
// }

// .wpo-case-single {
//   padding: 0 5px;
// }


// **styles not applicable
// .wpo-case-wrap .owl-carousel .owl-stage-outer {
//   padding: 3px;
// }

// .wpo-case-slider .owl-nav div {
//   position: absolute;
//   left: -70px;
//   top: 50%;
//   transform: translateY(-50%);
//   height: 50px;
//   width: 50px;
//   line-height: 40px;
//   text-align: center;
//   background: transparent;
//   transition: all 0.3s;
//   border: 1px solid var(--primary);
// }

// .wpo-case-slider .owl-nav div.owl-next {
//   right: -70px;
//   left: auto;
// }

// .owl-theme .owl-controls .owl-nav [class*="owl-"] {
//   background: transparent;
//   color: var(--primary);
// }

// .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
//   background: var(--primary);
// }

// @media (max-width: 860px) {
//   .wpo-case-slider .owl-nav div {
//     display: none !important;
//   }
// }

// @media (max-width: 767px) {
//   .wpo-case-slider .owl-nav div {
//     display: none !important;
//   }

//   .wpo-case-content h2 {
//     font-size: 20px;
//   }
// }

// .slick-prev,
// .slick-next {
//   background: transparent;
//   width: 55px;
//   height: 55px;
//   z-index: 10;
//   border-radius: 5px;
//   -webkit-transition: all 0.5s;
//   -moz-transition: all 0.5s;
//   -o-transition: all 0.5s;
//   -ms-transition: all 0.5s;
//   transition: all 0.5s;
//   border: 1px solid #00a7d5;
//   color: #00a7d5;
// }

// .slick-prev:hover,
// .slick-next:hover {
//   background-image: linear-gradient(to right, #00a7d5, #27cdca);
// }
// .slick-prev:focus,
// .slick-next:focus {
//   background-image: linear-gradient(to right, #00a7d5, #27cdca);
// }

// .slick-prev:hover:before,
// .slick-next:hover:before {
//   color: #fff;
// }
// .slick-prev:focus:before,
// .slick-next:focus:before {
//   color: #fff;
// }

// @media (max-width: 991px) {
//   .slick-prev,
//   .slick-next {
//     display: none !important;
//   }
// }

// .slick-prev {
//   left: -100px;
// }

// .slick-prev:before {
//   font-family: "themify";
//   content: "\e629";
//   opacity: 1;
//   color: #00a7d5;
// }

// .slick-next {
//   right: -100px;
// }

// .slick-next:before {
//   font-family: "themify";
//   content: "\e628";
//   opacity: 1;
//   color: #00a7d5;
// }

// .hero:hover .slick-prev {
//   left: 25px;
// }

// .hero:hover .slick-next {
//   right: 25px;
// }
