@import '../../styles/base.scss';

.error-404-section {
  text-align: center;

  .error-message {
    margin-top: 70px;
    padding: 0 200px;

    @media (max-width: 991px) {
      margin-top: 50px;
      padding: 0 100px;
    }

    @media (max-width: 767px) {
      padding: 0;
    }

    h3 {
      font-size: 20px;
      font-size: 1.25rem;
      margin: 0 0 0.8em;
    }

    p {
      margin-bottom: 1.8em;
    }

    // .theme-btn-s4 {
    //   background-color: var(--primary);
    //   color: #fff;
    // }
  }
}
