@import "./base.scss";

::-moz-selection {
  color: $white;
  background-color: $primary;
}
::selection {
  color: $white;
  background-color: $primary;
}

@import "bootstrap";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "./Hero.module.scss";
// @import "./Mission.module.scss";
// @import "./HeaderTopBar.module.scss";
// @import "./MobileMenu.module.scss";
// @import "./Header.module.scss";
// @import "./About.module.scss";
// @import "./Case.module.scss";
// @import "./Counter.module.scss";
// @import "./Team.module.scss";
// @import "./World.module.scss";
// @import "./Event.module.scss";
// @import "./Cta.module.scss";
// @import "./BlogSection.module.scss";
// @import "./Footer.module.scss";
// @import "./NewsLetter.module.scss";
// @import "./404.module.scss";
// @import "./PageTitle.module.scss";
// @import "./VideoCta.module.scss";
// @import "./Contact.module.scss";

/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  color: #525252;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

p {
  color: #777777;
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif !important;
  color: #062265;
  font-weight: 600 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif !important;
  color: #062265;
  font-weight: 600 !important;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  &:hover {
    text-decoration: none !important;
  }
}

img {
  max-width: 100%;
}

// replace it with #_next
#__next {
  overflow: hidden;
  position: relative;
}
/*--------------------------------------------------------------
#0.2    Global Elements
--------------------------------------------------------------*/
.page-wrapper {
  position: relative;
  overflow: hidden;
}

.wow {
  visibility: hidden;
}

.fi:before {
  margin: 0;
}

.section-padding {
  padding: 120px 0;

  @media (max-width: 991px) {
    padding: 90px 0;
  }

  @media (max-width: 767px) {
    padding: 80px 0;
  }
}

/*** contact form error handling ***/
.contact-validation-active {
  .error-handling-messages {
    width: 100% !important;
    margin-top: 15px !important;
  }
  label.error {
    color: red;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 5px 0 0 0;
    text-align: left;
    display: block;
  }
  #loader {
    display: none;
    margin-top: 10px;
    i {
      font-size: 30px;
      font-size: 1.875rem;
      color: $primary;
      display: inline-block;
      -webkit-animation: rotating linear 2s infinite;
      animation: rotating linear 2s infinite;
    }
  }
  #success,
  #error {
    width: 100%;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    display: none;
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
  #success {
    background-color: #009a00;
    border-left: 5px solid green;
    margin-bottom: 5px;
  }
  #error {
    background-color: #ff1a1a;
    border-left: 5px solid red;
  }
}

.rotating {
  animation: rotating 5s alternate infinite;
}

/** for popup image ***/
.mfp-wrap {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*** for fancybox video ***/
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999 !important;
}

.fancybox-wrap {
  z-index: 99999 !important;
}

.wpo-section-title {
  text-align: center;
  position: relative;
  max-width: 500px;
  margin: auto;
  margin-bottom: 70px;
}

.wpo-section-title span {
  font-size: 18px;
  font-weight: 400;
  color: $primary;
  display: block;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
}

.wpo-section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  position: relative;
  line-height: 50px;
}

@media (max-width: 991px) {
  .wpo-section-title h2 {
    font-size: 45px;
    font-size: 2.8125rem;
  }
}

@media (max-width: 767px) {
  .wpo-section-title h2 {
    font-size: 25px;
    line-height: 35px;
  }
}

// moved from below (added comment there)
.theme-btn-s4 {
  font-weight: 400;
  color: #666666;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.theme-btn,
.theme-btn-s2,
.theme-btn-s4,
.theme-btn-s3 {
  background-color: $primary;
  color: $white;
  font-weight: 700;
  padding: 13px 38px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s;
  border: none;
}

@media (max-width: 991px) {
  .theme-btn,
  .theme-btn-s2,
  .theme-btn-s4,
  .theme-btn-s3 {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 10px 25px;
  }
}

.theme-btn:hover,
.theme-btn-s2:hover,
.theme-btn-s4:hover,
.theme-btn-s3:hover,
.theme-btn:focus,
.theme-btn-s2:focus,
.theme-btn-s4:focus,
.theme-btn-s3:focus,
.theme-btn:active,
.theme-btn-s2:active,
.theme-btn-s4:active,
.theme-btn-s3:active {
  background-color: $primary;
  color: $white;
}

// moved theme-btn-s4 from here to above due to overwriting issues

.theme-btn-s2 {
  border: none;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.theme-btn-s2:hover,
.theme-btn-s4:hover,
.theme-btn-s2:focus,
.theme-btn-s4:focus,
.theme-btn-s2:active,
.theme-btn-s4:active {
  background-position: 100% !important;
  color: #fff;
}

.theme-btn-s3 {
  padding: 13px 30px;
}

@media (max-width: 991px) {
  .theme-btn-s3 {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 10px 25px;
  }
}

.theme-btn-s4 {
  padding: 15px 48px;
  border-radius: 55px;
}

@media (max-width: 991px) {
  .theme-btn-s4 {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 10px 25px;
  }
}

.social-links {
  overflow: hidden;
}

.social-links li {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 1px;
}

.social-links li a {
  background-color: #05f2ff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  color: #fff;
  text-align: center;
}

.social-links li a:hover {
  background-color: $primary;
}

.modal-video-close-btn {
  top: -20px;
  right: -20px;
  width: 35px;
  height: 35px;
  background: $primary;
  border-radius: 50%;
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
  top: 65%;
}

.errorMessage {
  font-size: 12px;
  margin-top: 5px;
  color: red;
}

.cBtnTheme {
  background: $primary;
}

// case carousel
.wpo-case-wrap .owl-carousel .owl-stage-outer {
  padding: 3px;
}

.wpo-case-slider .owl-nav div {
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  line-height: 40px;
  text-align: center;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid var(--primary);
}

.wpo-case-slider .owl-nav div.owl-next {
  right: -70px;
  left: auto;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: transparent;
  color: var(--primary);
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
  background: var(--primary);
}

@media (max-width: 860px) {
  .wpo-case-slider .owl-nav div {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .wpo-case-slider .owl-nav div {
    display: none !important;
  }

  .wpo-case-content h2 {
    font-size: 20px;
  }
}

.slick-prev,
.slick-next {
  background: transparent;
  width: 55px;
  height: 55px;
  z-index: 10;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #00a7d5;
  color: #00a7d5;
}

.slick-prev:hover,
.slick-next:hover {
  background-image: linear-gradient(to right, #00a7d5, #27cdca);
}
.slick-prev:focus,
.slick-next:focus {
  background-image: linear-gradient(to right, #00a7d5, #27cdca);
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #fff;
}
.slick-prev:focus:before,
.slick-next:focus:before {
  color: #fff;
}

@media (max-width: 991px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.slick-prev {
  left: -100px;
}

.slick-prev:before {
  font-family: "themify";
  content: "\e629";
  opacity: 1;
  color: #00a7d5;
}

.slick-next {
  right: -100px;
}

.slick-next:before {
  font-family: "themify";
  content: "\e628";
  opacity: 1;
  color: #00a7d5;
}

.hero:hover .slick-prev {
  left: 25px;
}

.hero:hover .slick-next {
  right: 25px;
}

// contact us page styles
.wpo-contact-form-map form input,
.volunteer-contact-form form input,
.wpo-contact-form-map form select,
.volunteer-contact-form form select,
.volunteer-contact-form form label,
.volunteer-contact-form form textarea,
.wpo-contact-form-map form textarea {
  background: transparent;
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #d0d4df;
  outline: transparent;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0;
  color: #525252;
}
.wpo-contact-form-map form p {
  font-size: 13px;
  color: red;
  margin-top: 5px;
}
@media (max-width: 991px) {
  .wpo-contact-form-map form input,
  .volunteer-contact-form form input,
  .wpo-contact-form-map form select,
  .volunteer-contact-form form select,
  .volunteer-contact-form form textarea,
  .wpo-contact-form-map form textarea {
    height: 45px;
  }
}

.wpo-contact-form-map form input:focus,
.volunteer-contact-form form input:focus,
.wpo-contact-form-map form select:focus,
.volunteer-contact-form form select:focus,
.volunteer-contact-form form textarea:focus,
.wpo-contact-form-map form textarea:focus {
  border-color: $primary;
}

.wpo-contact-form-map form textarea,
.volunteer-contact-form form textarea {
  height: 125px;
}

.wpo-contact-form-map form {
  overflow: hidden;
}

.wpo-contact-form-map form ::-webkit-input-placeholder {
  font-style: 16px;
  font-style: normal;
  color: #888;
}

.wpo-contact-form-map form :-moz-placeholder {
  font-style: 16px;
  font-style: normal;
  color: #888;
}

.wpo-contact-form-map form ::-moz-placeholder {
  font-style: 16px;
  font-style: normal;
  color: #888;
}

.wpo-contact-form-map form :-ms-input-placeholder {
  font-style: 16px;
  font-style: normal;
  color: #888;
}

.wpo-contact-form-map form select {
  display: inline-block;
  color: #a9a9a9;
  cursor: pointer;
  opacity: 1;
  padding: 6px 12px;
  font-size: 15px;
  font-size: 0.9375rem;
}

.wpo-contact-form-map form > div {
  margin-bottom: 15px;
}

.wpo-contact-form-map .submit-area {
  width: 100%;
  float: none;
  clear: both;
  text-align: center;
  margin-top: 30px;
}

.wpo-contact-form-map .contact-map {
  max-width: 948px;
  height: 575px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(68, 68, 68, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(68, 68, 68, 0.1);
}

@media (max-width: 767px) {
  .wpo-contact-form-map .contact-map {
    height: 500px;
  }
}

.wpo-contact-form-map .contact-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contact-map {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.contact-form .theme-btn,
.volunteer-contact-form .theme-btn {
  background: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  outline: none;
  margin-top: 20px;
  border-radius: 40px;
  color: #333;
}

.wpo-contact-form-map .contact-form {
  margin-bottom: 60px;
}

.wpo-contact-form-map .info-wrap {
  display: flex;
  align-items: center;
}

.wpo-contact-form-map .info-icon,
.wpo-contact-form-map .info-icon-2,
.wpo-contact-form-map .info-icon-3 {
  width: 90px;
  height: 90px;
  line-height: 115px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  text-align: center;
  margin-right: 20px;
  align-items: center;
  background-image: linear-gradient(#7fedeb, #7fd7ea);
  color: #242f6c;
}

.wpo-contact-form-map .info-icon-2 {
  background-image: linear-gradient(#ffd3b8, #ffc0c6);
}

.wpo-contact-form-map .info-icon-3 {
  background-image: linear-gradient(#e1b3fe, #b5b3f9);
}

.info-item {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  padding: 50px 40px;
  margin-bottom: 30px;
}

.info-item h2 {
  font-size: 24px;
  color: #242f6c;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 25px;
}

.info-icon-2 .fi:before {
  font-size: 40px;
}

.info-text span {
  color: #666666;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .wpo-contact-info {
    padding-left: 0;
  }

  .wpo-contact-form-map .contact-map {
    margin-bottom: 40px;
  }
}

@media (max-width: 590px) {
  .info-item h2 {
    font-size: 20px;
  }

  .info-text span {
    font-size: 15px;
  }

  .wpo-contact-form-map form textarea {
    height: 100px;
  }
}

.wpo-contact-info .info-icon i,
.wpo-contact-info .info-icon-2 i,
.wpo-contact-info .info-icon-3 i {
  font-size: 40px;
  line-height: 90px;
}

.wpo-contact-form-map {
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .wpo-contact-form-map {
    padding-bottom: 50px;
  }
}

// donate page
.nav-link {
  cursor: pointer;
}

.page-container {
  margin: 15px 0;
  .page-title {
    margin: 15px 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid $gray-athens;
    text-align: center;
    color: $primary;
    text-shadow: 1px 1px black;
  }
  .carousel-container {
    margin-bottom: 40px;
  }
  .content-container {
    text-align: justify;
    margin-top: 30px;
  }
}
