@import "../../styles/base.scss";

.heading {
  color: $primary;
  padding-bottom: 10px;
  border-bottom: 1px solid $whisper;
}
.blockquote {
  font-style: italic;
  color: $primary;
  line-height: 1.7em;
  border-left: 2px solid $gray-dark;
  padding: 10px 15px;
}
