@import "../../styles/base.scss";

.heading {
  color: $primary;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid $whisper;
}
.blockquote {
  font-style: italic;
  color: $primary;
  line-height: 1.7em;
  border-left: 2px solid $gray-dark;
  padding: 10px 15px;
}
.img {
  padding: 10px;
  border: 1px solid $whisper;
}
.br {
  display: block;
  content: "";
  height: 10px;
}
